<div class="cuerpoModal">
    <h4>Olvide mi contraseña </h4>
    <br><br>
    <form name="recupera" ng-submit="$ctrl.recuperaPassword(email)">
        <div class="form-group">
            <label for="email">Email corporativo</label>
            <input autocomplete="off" class="form-control input-sm" id="email" ng-model="email"
                   placeholder="Email corporativo" required type="email">
        </div>

        <button class="btn btn-info btn-sm" ng-disabled="recupera.$invalid" type="submit">Enviar</button>
    </form>

    <br>
    <div class="form-group">
        <button class="btn btn-info btn-sm pull-right" data-dismiss="modal" ng-click="$ctrl.cancel()" type="button">
            Cerrar
        </button>
    </div>
    <br>
</div>
