<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redireccionar a HTTPS si no está habilitado
  # RewriteCond %{HTTPS} !=on
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Redireccionar a index.html si el archivo o directorio no existe
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(?!.*\.).*$ index.html [NC,L]
</IfModule>
