<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b><i class="fa fa-bars" aria-hidden="true"></i> Histórico de
            Registros mesa offline</b>
          <ul class="nav navbar-nav navbar-right">
            <li>
              Registros: <span class="badge badge-default">{{cantidad}}</span>
            </li>
          </ul>
        </div>
        <div class="animated bounceInRight table-responsive">
          <table class="table small table-striped table-condensed table-bordered">
            <thead class="table-header">
              <tr>
                <th>Login Offline</th>
                <th>Asesor</th>
                <th>Pedido</th>
                <th>Proceso</th>
                <th>Produto</th>
                <th>Acción</th>
                <th>Actividad</th>
                <th>Sub activida</th>
                <th>Fecha carga</th>
                <th>Observaciones</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="data in listaRegistrosOffline">
                <td>{{data.LOGIN_ASESOR_OFF}}</td>
                <td>{{data.LOGIN_ASESOR}}</td>
                <td>{{data.PEDIDO}}</td>
                <td>{{data.PROCESO}}</td>
                <td>{{data.PRODUCTO}}</td>
                <td>{{data.ACCION}}</td>
                <td>{{data.ACTIVIDAD}}</td>
                <td>{{data.ACTIVIDAD2}}</td>
                <td>{{data.FECHA_CARGA}}</td>
                <td style="width: 30%;">{{data.OBSERVACIONES}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-center">
          <ul uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage"
            ng-change="pageChanged()" items-per-page="pageSize" max-size="5" boundary-links="true" rotate="true"
            previous-text="&#8672;" next-text="&#8674;" first-text="Primero" last-text="Último"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>