<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading nav navbar-default">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="/#gestion"> Gestión</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="/#registros"> Registros / Auditoria</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="gestion">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table">
                                    <br>
                                    <ul class="nav navbar-nav pull-left">
                                        <li>
                                            &nbsp;
                                            &nbsp;
                                            <b>Activación Toip</b> <span class="badge badge-default">{{Items}}</span>
                                        </li>
                                        <li>
                                            &nbsp;
                                            &nbsp;
                                            <div data-ng-if="loading">
                                                <img data-placement="top" src="img/loader.gif"
                                                     title="Esperando respuesta"
                                                     tooltip/>
                                            </div>
                                        </li>
                                        <li>
                                            &nbsp;
                                            &nbsp;
                                            <button class="btn btn-default btn-xs" data-placement="top"
                                                    data-toggle="tooltip" ng-click="recargaPageGestion()"
                                                    ng-disabled="loading" title="Actualizar" type="button">
                                                <i aria-hidden="true" class="fa fa-refresh"></i>
                                            </button>
                                        </li>
                                        &nbsp;
                                    </ul>
                                    <br><br>
                                    <div class="table-responsive">
                                        <table class="table small table-hover table-condensed table-bordered">
                                            <thead class="table-header">
                                            <tr>
                                                <th>Marca</th>
                                                <th>Login</th>
                                                <th>Pedido</th>
                                                <th>Tarea</th>
                                                <th>Serial</th>
                                                <th>Mac</th>
                                                <th>Region</th>
                                                <th>Teléfono</th>
                                                <th>Hora ingreso</th>
                                                <th>Id servicio</th>
                                                <th>Tipificación</th>
                                                <th>Subtipificación</th>
                                                <th>Ver. Tono</th>
                                                <th>Cerrado GTC</th>
                                                <th>Ver +</th>
                                                <th>Guar.</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-class="{'danger' : data.counter > 3}" ng-repeat="data in datos">
                                                <td>
                                                    <div>
                                                        <input id="bloqueo" name="bloqueo"
                                                               ng-checked="data.en_gestion == '1'"
                                                               ng-click="marcarEngestion(data)"
                                                               ng-model="data.bloqueo"
                                                               type="checkbox">
                                                        <div class="loadingio-spinner-ellipsis-3nun7cb96ao"
                                                             ng-show="data.bloqueo == '1'">
                                                            <div class="ldio-pettsxrv7wj">
                                                                <div></div>
                                                                <div></div>
                                                                <div></div>
                                                                <div></div>
                                                                <div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="label label-primary label-xsmall"
                                                          ng-if="data.login_gestion == galletainfo.login">{{data.login_gestion}}</span>
                                                    <span class="label label-primary label-xsmall"
                                                          ng-if="data.login_gestion != galletainfo.login">{{data.login_gestion}}</span>
                                                </td>
                                                <td>
                                                    <button class="btn btn-default btn-xs" id=tv{{$index}}
                                                            ng-click="CopyPortaPapeles(data.pedido)"
                                                            tooltip-placement="top"
                                                            type="button" uib-tooltip="Copiar pedido">
                                                        {{data.pedido}}
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-default btn-xs" id=tv{{$index}}
                                                            ng-click="CopyPortaPapeles(data.tarea)"
                                                            tooltip-placement="top"
                                                            type="button" uib-tooltip="Copiar tarea">
                                                        {{data.tarea}}
                                                    </button>
                                                </td>
                                                <td>{{data.serial}}</td>
                                                <td>{{data.mac}}</td>
                                                <td>{{data.region}}</td>
                                                <td>{{data.numero_toip}}</td>
                                                <td>{{data.hora_ingreso}}</td>
                                                <td>{{data.identificador_servicio}}</td>
                                                <td>
                                                    <select class="btn btn-default btn-xs grupo-select"
                                                            id="tipificacion"
                                                            name="tipificacion"
                                                            ng-model="data.tipificacion" style="width: 150px">
                                                        <option selected value="">Seleccione</option>
                                                        <option value="Aprovisionamiento automático">Aprov. automático
                                                        </option>
                                                        <option value="Aprovisionado por contingencia">Aprov por
                                                            contingencia
                                                        </option>
                                                        <!--<option value="No funciono">No funciono</option>-->
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="btn btn-default btn-xs grupo-select"
                                                            id="subtipificacion" name="subtipificacion"
                                                            ng-model="data.subtipificacion"
                                                            ng-show="data.tipificacion == 'Aprovisionado por contingencia'"
                                                            style="width: 150px">
                                                        <option selected value="">Seleccione</option>
                                                        <option value="Cm_offline">Cm_offline</option>
                                                        <option value="Se requiere reiniciar">Se requiere reiniciar
                                                        </option>
                                                        <option value="Garantía instalación">Garantía instalación
                                                        </option>
                                                        <option value="Numero mal creado/No creado ims">Num. mal
                                                            creado/No creado ims
                                                        </option>
                                                        <option value="Contingencia OK">Contingencia OK</option>
                                                    </select>

                                                    <select class="btn btn-default btn-xs grupo-select"
                                                            id="subtipificacion" name="subtipificacion"
                                                            ng-model="data.subtipificacion"
                                                            ng-show="data.tipificacion == 'Aprovisionamiento automático'"
                                                            style="width: 150px">
                                                        <option selected value="">Seleccione</option>
                                                        <option value="Reenvío de registros">Reenvío de registros
                                                        </option>
                                                        <option value="Ninguno">Ninguno</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="btn btn-default btn-xs grupo-select"
                                                            id="verifica_tono"
                                                            name="verifica_tono"
                                                            ng-model="data.verifica_tono" style="width: 80px">
                                                        <option selected value="">Seleccione</option>
                                                        <option value="SI">SI</option>
                                                        <option value="NO">NO</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="btn btn-default btn-xs grupo-select"
                                                            name="cerrado_gtc"
                                                            ng-model="data.cerrado_gtc"
                                                            style="width: 80px">
                                                        <option selected value="">Seleccione</option>
                                                        <option value="SI">SI</option>
                                                        <option value="NO">NO</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button class="btn btn-default btn-xs" ng-click="ver_masss(data)"
                                                            popover-placement="left"
                                                            popover-title="Ver mas" tooltip-placement="top"
                                                            type="button" uib-popover-html="dataContent"
                                                            uib-tooltip="Ver mas">
                                                        <i aria-hidden="true" class="fa fa-plus"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <div style="display: flex; align-items: center; justify-content: center; gap: 1px; height: 100%;">
                                                        <button class="btn btn-default btn-xs" data-toggle="modal"
                                                                ng-click="GuardarActivacionToip(data)"
                                                                tooltip-placement="top"
                                                                type="button" uib-tooltip="Guardar gestión">
                                                            <i aria-hidden="true" class="fa fa-floppy-o"> </i>
                                                        </button>
                                                        <div ng-show="data.alerta === 'TRUE'"
                                                             style="display: inline-block;">
                                                            <button class="btn btn-default btn-xs"
                                                                    data-backdrop="static"
                                                                    data-toggle="modal" ng-hide="data.alerta == 'FALSE'"
                                                                    tooltip-placement="top" type="button"
                                                                    uib-tooltip="La tarea ya pasó por toip anteriormente {{data.counter}} Veces, por favor validar!">
                                                                <i aria-hidden="true" class="fa fa-exclamation"
                                                                   ng-class="{'parpadeo-rojo': data.counter > 3, 'red': data.counter > 0}"> </i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MODULO DE REGISTROS -->
                    <div class="tab-pane fade" id="registros">
                        <div class="row">
                            <div class="col-sm-12">
                                <br>
                                <ul class="nav navbar-nav pull-left">
                                    &nbsp;
                                    <li>
                                        &nbsp;
                                        &nbsp;
                                        <b>Registros Toip</b> <span class="badge badge-default">{{totalItems}}</span>
                                    </li>
                                    <li>
                                        <div data-ng-if="loading">
                                            <img data-placement="top" src="img/loader.gif" title="Esperando respuesta"
                                                 tooltip/>
                                        </div>
                                    </li>
                                    <li>
                                        &nbsp;
                                        <input autocomplete="off"
                                               class="btn btn-default btn-xs ng-pristine ng-valid ng-touched"
                                               date-format="yyyy-MM-dd" date-only
                                               datetime-picker=""
                                               id="fechaini"
                                               name="fechaini" ng-model="toip.fechaini" placeholder="Fecha Inicial"
                                               style="width: 130px"
                                               type="text"/>
                                        <i class="fa fa-calendar fa-fw"></i>
                                        <input autocomplete="off"
                                               class="btn btn-default btn-xs ng-pristine ng-valid ng-touched"
                                               date-format="yyyy-MM-dd" date-only
                                               datetime-picker=""
                                               id="fechafin"
                                               name="fechafin" ng-model="toip.fechafin" placeholder="Fecha Final"
                                               style="width: 130px"
                                               type="text"/>
                                        <i class="fa fa-calendar fa-fw"></i>
                                        <select class="btn btn-default btn-xs ng-pristine ng-valid ng-touched"
                                                data-placeholder="Seleccione el filtro" id="filtro"
                                                name="filtro" ng-model="toip.filtro"
                                                style="width: 160px">
                                            <option selected value="">Seleccione el filtro</option>
                                            <option value="Todos">Todos</option>
                                            <option value="Gestionados">Gestionados</option>
                                            <option value="Sin gestionar">Sin gestionar</option>
                                        </select>


                                        <!-- <button type="button" class="btn btn-default btn-xs" ng-click="registrosToip(toip)"
                                                 ng-disabled="loading">
                                             <i class="fa fa-search-plus" aria-hidden="true"></i>
                                         </button> -->

                                        <!-- <button type="button" class="btn btn-success btn-xs" title="Exportar Registros"
                                                 ng-click="csvToip(toip)" ng-disabled="loading" title="Exportar" tooltip data-placement="top">
                                             <i class="fa fa-cloud-download" aria-hidden="true"> </i>
                                         </button> -->

                                        <b>
                                            <input autocomplete="off" class="btn btn-default btn-xs" id="pedido"
                                                   name="pedido"
                                                   ng-model="toip.pedido"
                                                   placeholder="Buscar tarea/pedido" type="text"/>&nbsp;

                                            <button class="btn btn-default btn-xs" data-placement="top"
                                                    data-toggle="tooltip"
                                                    ng-click="detallePedido(toip)" ng-disabled="loading" title="Buscar"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-search"></i>
                                            </button>
                                        </b>&nbsp;

                                        <b>
                                            <button class="btn btn-success btn-xs" data-placement="top"
                                                    data-toggle="tooltip"
                                                    ng-click="csvToip(toip)" ng-disabled="loading"
                                                    title="Exportar Registros"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-cloud-download"> </i>
                                            </button>
                                        </b>

                                    </li>

                                    <li>
                                        &nbsp;
                                        <button class="btn btn-default btn-xs" data-placement="top"
                                                data-toggle="tooltip"
                                                ng-click="recargaPage()"
                                                ng-disabled="loading" title="Actualizar" type="button">
                                            <i aria-hidden="true" class="fa fa-refresh"></i>
                                        </button>
                                    </li>
                                    &nbsp;
                                </ul>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table class="table small table-striped table-hover table-condensed table-bordered">
                                        <thead class="table-header">
                                        <tr>
                                            <th>Login</th>
                                            <th>Pedido</th>
                                            <th>Tarea</th>
                                            <th>Serial</th>
                                            <th>Mac</th>
                                            <th>Region</th>
                                            <th>Teléfono</th>
                                            <th>Hora ingreso</th>
                                            <th>Hora marca</th>
                                            <th>Hora gestión</th>
                                            <th>Id servicio</th>
                                            <th>Tipificación</th>
                                            <th>Subtipificación</th>
                                            <th>Verifica tono</th>
                                            <th>Cerrado_GTC</th>
                                            <th>Obser.</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in datosTerminados">
                                            <td>{{data.login_gestion}}</td>
                                            <td>
                                                <button class="btn btn-default btn-xs" id=p{{$index}}
                                                        ng-click="CopyPortaPapeles(data.pedido)" tooltip-placement="top"
                                                        type="button" uib-tooltip="Copiar pedido">{{data.pedido}}
                                                </button>
                                            </td>
                                            <td>
                                                <button class="btn btn-default btn-xs" id=t{{$index}}
                                                        ng-click="CopyPortaPapeles(data.tarea)" tooltip-placement="top"
                                                        type="button" uib-tooltip="Copiar pedido">{{data.tarea}}
                                                </button>
                                            </td>
                                            <td>{{data.serial}}</td>
                                            <td>{{data.mac}}</td>
                                            <td>{{data.region}}</td>
                                            <td>{{data.numero_toip}}</td>
                                            <td>{{data.hora_ingreso}}</td>
                                            <td>{{data.hora_marca}}</td>
                                            <td>{{data.hora_gestion}}</td>
                                            <td>{{data.identificador_servicio}}</td>
                                            <td>
                                                <select class="btn btn-default btn-xs grupo-select" disabled
                                                        name="tipificacion"
                                                        ng-model="data.tipificacion" style="width: 150px">
                                                    <option selected value="">No tiene</option>
                                                    <option value="Aprovisionamiento automático">Aprovisionamiento
                                                        automático
                                                    </option>
                                                    <option value="Aprovisionado por contingencia">Aprovisionado por
                                                        contingencia
                                                    </option>
                                                    <option value="No funciono">No funciono</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="btn btn-default btn-xs grupo-select" disabled
                                                        name="subtipificacion"
                                                        ng-model="data.subtipificacion" style="width: 150px">
                                                    <option selected value="">N/A</option>
                                                    <option value="Cm_offline">Cm_offline</option>
                                                    <option value="Se requiere reiniciar">Se requiere reiniciar</option>
                                                    <option value="Garantía instalación">Garantía instalación</option>
                                                    <option value="Numero mal creado/No creado ims">Numero mal creado/No
                                                        creado ims
                                                    </option>
                                                    <option value="Contingencia OK">Contingencia OK</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="btn btn-default btn-xs grupo-select" disabled
                                                        name="verifica_tono"
                                                        ng-model="data.verifica_tono" style="width: 80px">
                                                    <option selected value="">No tiene</option>
                                                    <option value="SI">SI</option>
                                                    <option value="NO">NO</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="btn btn-default btn-xs grupo-select" disabled
                                                        name="cerrado_gtc"
                                                        ng-model="data.cerrado_gtc" style="width: 80px">
                                                    <option selected value="">No tiene</option>
                                                    <option value="SI">SI</option>
                                                    <option value="NO">NO</option>
                                                </select>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-default btn-xs" popover-placement="left"
                                                        tooltip-placement="top" type="button"
                                                        uib-popover="{{data.observacion}}"
                                                        uib-tooltip="Observación asesor">
                                                    <i aria-hidden="true" class="fa fa-commenting"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                    <ul boundary-links="true" class="pagination-sm" first-text="Primero"
                                        items-per-page="pageSize"
                                        last-text="Último" max-size="5" next-text="&#8674;"
                                        ng-change="pageChanged()" ng-model="currentPage"
                                        previous-text="&#8672;" rotate="true" total-items="totalItems"
                                        uib-pagination></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
