<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b><i aria-hidden="true" class="fa fa-bars"></i> Listado de
                            técnicos</b>
                        <span class="pull-right" style="color: red"><i aria-hidden="true"
                                                                       class="fa fa-exclamation-triangle warning"
                                                                       ng-hide="errorDatos==null"></i>
              {{errorDatos}}</span>
                        <span class="pull-right" style="color: green"><i aria-hidden="true" class="fa fa-check-circle"
                                                                         ng-hide="respuestaupdate==null"></i>
              {{respuestaupdate}}</span>
                        <span class="pull-right" style="color: red"><i aria-hidden="true"
                                                                       class="fa fa-exclamation-triangle warning"
                                                                       ng-hide="respuestadelete==null"></i>
              {{respuestadelete}}</span>
                        <ul class="nav navbar-nav navbar-right">
                            <li><span class="badge badge-default">{{counter}} Registros</span>&nbsp;
                            </li>
                            <li>
                                &nbsp;
                                <select class="btn btn-default btn-xs grupo-select" ng-model="perfil"
                                        ng-change="changePerfil(perfil)">
                                    <option selected value="">Perfil</option>
                                    <option value="tecnico">Técnico</option>
                                    <option value="supervisor">Supervisor</option>
                                    <option value="tecnico_sin_click">Técnico sin click</option>
                                </select>
                            </li>

                            <li>
                                &nbsp;
                                <select class="btn btn-default btn-xs grupo-select" ng-model="concepto">
                                    <option ng-repeat="f in conceptosBuscartecnico" value="{{f.ID}}">
                                        {{f.CONCEPTO}}
                                    </option>
                                </select>
                                <div class="btn-group">
                                    <input capitalize class="btn btn-default btn-xs" ng-disabled="loading"
                                           ng-model="tecnico"
                                           placeholder="Buscar..." select-on-click style="width: 140px"
                                           type="text"/>
                                    <button class="btn btn-default btn-xs" ng-click="buscarTec(concepto, tecnico)"
                                            ng-disabled="loading"
                                            tooltip-placement="top" type="button" uib-tooltip="Buscar">
                                        <i aria-hidden="true" class="fa fa-search-plus"> </i>
                                    </button>
                                </div>
                            </li>
                            <li>
                                &nbsp;
                                <button class="btn btn-default btn-xs" ng-click="openModalTecnico()"
                                        ng-disabled="loading"
                                        uib-tooltip="Agregar técnico">
                                    <i aria-hidden="true" class="fa fa-user-plus"> </i>
                                </button>
                            </li>
                            <li>
                                &nbsp;
                                <button class="btn btn-default btn-xs" ng-click="refleshPage()"
                                        ng-disabled="loading"
                                        uib-tooltip="Agregar técnico">
                                    <i aria-hidden="true" class="fa fa-refresh"> </i>
                                </button>
                            </li>
                            <!--<li ng-show="galletainfo.perfil == '11'">
                              &nbsp;
                              <button type="button" class="btn btn-info btn-xs" ng-click="tecnicos()" ng-disabled="loading" tooltip-placement="top" uib-tooltip="Actualizar técnicos">
                                Actualizar técnicos
                              </button>
                            </li>-->
                            <li>
                                <div class="col-md-1 col-xs-1">
                                    <div data-ng-if="loading">
                                        <img data-placement="top" data-toggle="tooltip" src="img/loader.gif"
                                             title="Esperando respuesta"/>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="table-responsive animated bounceInRight">
                        <table class="table small table-condensed table-hover table-bordered">
                            <thead class="table-header">
                            <tr>
                                <!-- <th>Id</th> -->
                                <th>Identificación</th>
                                <th>Nombre</th>
                                <th>Ciudad</th>
                                <th>Perfil</th>
                                <th>Celular</th>
                                <th>Empresa</th>
                                <th>Contraseña Click</th>
                                <th>Login</th>
                                <th>Contreseña App</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in listaTecnicos">
                                <!-- <td>{{data.ID}}</td> -->
                                <td>{{data.IDENTIFICACION}}</td>
                                <td>{{data.NOMBRE}}</td>
                                <td>{{data.CIUDAD}}</td>
                                <td>{{data.perfil}}</td>
                                <td>{{data.CELULAR}}</td>
                                <td>{{data.NOM_EMPRESA}}</td>
                                <td>{{data.pass_clic}}</td>
                                <td>{{data.login_Click}}</td>
                                <td>{{data.pass_apk}}</td>
                                <td>{{data.estado}}</td>
                                <td> <button>
                                    <i class="fa fa-edit" ng-click="editTecnico(data)"></i>
                                </button> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="paginador">
                        <ul boundary-links="true" class="pagination-sm" first-text="Primero" items-per-page="pageSize"
                            last-text="Último" max-size="5" next-text="&#8674;" ng-change="pageChanged()"
                            ng-model="currentPage"
                            previous-text="&#8672;" rotate="true" total-items="totalItems" uib-pagination></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<!-- <div ng-include="'partial/footer/footer.html'">
</div> -->