<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="tab-content">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b><i class="fa fa-bars" aria-hidden="true"></i> Listado de
              técnicos</b>
            <span style="color: red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"
                ng-hide="errorDatos==null"></i>
              {{errorDatos}}</span>
            <span style="color: green" class="pull-right"><i class="fa fa-check-circle" aria-hidden="true"
                ng-hide="respuestaupdate==null"></i>
              {{respuestaupdate}}</span>
            <span style="color: red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"
                ng-hide="respuestadelete==null"></i>
              {{respuestadelete}}</span>
            <ul class="nav navbar-nav navbar-right">
              <li><span class="badge badge-default">{{counter}} Registros</span>&nbsp;
              </li>
              <li>
                <select ng-model="concepto" class="btn btn-default btn-xs grupo-select">
                  <option ng-repeat="f in conceptosBuscartecnico" value="{{f.ID}}">
                    {{f.CONCEPTO}}
                  </option>
                </select>
                <div class="btn-group">
                  <input style="width: 140px" class="btn btn-default btn-xs" type="text" ng-model="tecnico"
                    placeholder="Buscar..." ng-disabled="loading" select-on-click
                    capitalize />
                  <button type="button" class="btn btn-default btn-xs" ng-click="buscarTec(concepto, tecnico)"
                    ng-disabled="loading" tooltip-placement="top" uib-tooltip="Buscar">
                    <i class="fa fa-search-plus" aria-hidden="true"> </i>
                  </button>
                </div>
              </li>
              <!--<li ng-show="galletainfo.perfil == '11'">
                &nbsp;
                <button type="button" class="btn btn-info btn-xs" ng-click="tecnicos()" ng-disabled="loading" tooltip-placement="top" uib-tooltip="Actualizar técnicos">
                  Actualizar técnicos
                </button>
              </li>-->
              <li>
                <div class="col-md-1 col-xs-1">
                  <div data-ng-if="loading">
                    <img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif" />
                  </div>
                </div>
              </li>
            </ul>

          </div>
          <div class="table-responsive animated bounceInRight">
            <table class="table small table-condensed table-hover table-bordered">
              <thead class="table-header">
                <tr>
                  <!-- <th>Id</th> -->
                  <th>Identificación</th>
                  <th>Nombre</th>
                  <th>Ciudad</th>
                  <th>Celular</th>
                  <th>Empresa</th>
                  <th>Contraseña Click</th>
                  <th>Login</th>
                  <th>Contreseña App</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in listaTecnicos">
                  <!-- <td>{{data.ID}}</td> -->
                  <td>{{data.IDENTIFICACION}}</td>
                  <td>{{data.NOMBRE}}</td>
                  <td>{{data.CIUDAD}}</td>
                  <td>{{data.CELULAR}}</td>
                  <td>{{data.NOM_EMPRESA}}</td>
                  <td>{{data.pass_clic}}</td>
                  <td>{{data.login_Click}}</td>
                  <td>{{data.pass_apk}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="paginador">
            <ul uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage"
              ng-change="pageChanged()" items-per-page="pageSize" max-size="5" boundary-links="true" rotate="true"
              previous-text="&#8672;" next-text="&#8674;" first-text="Primero" last-text="Último"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<!-- <div ng-include="'partial/footer/footer.html'">
</div> -->