<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

    table,
    th,
    td {
        font-size: 11px;
    }

    .fixed-panel-kpiuser {

        max-height: 300px;
        overflow-y: scroll;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 30px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .flipswitch {
        position: relative;
        background: white;
        margin: 0px 0 0;
        padding: 0;
        width: 42px;
        height: 22px;
        -webkit-appearance: initial;
        border-radius: 3px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        font-size: inherit;
        /*font-size: 65%;
    font-size: 9px;
    font-weight: bold;*/
        font-family: Trebuchet, Arial, sans-serif;
        cursor: pointer;
        border: 1px solid #ddd;
        z-index: 0;
    }

    .flipswitch:after {
        position: absolute;
        top: 5%;
        display: block;
        line-height: 17px;
        width: 45%;
        height: 90%;
        background: #337ab7;
        box-sizing: border-box;
        text-align: center;
        transition: all 0.3s ease-in 0s;
        color: white;
        border: #888 1px solid;
        border-radius: 3px;
        z-index: 0;
    }

    .flipswitch:after {
        left: 2%;
        content: "No";

    }

    .flipswitch:checked:after {
        left: 53%;
        content: "Si";
        background: #00C8FF;

    }

    .resaltado15min {
        background-color: #ADE2FF !important;
    }

    .label-xsmall {
        vertical-align: super;
        font-size: x-small;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading nav navbar-default">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="/#gestion"> Gestión</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="/#Kpis" ng-click="loadgrid()"> Seguimiento y auditoría</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="gestion" class="tab-pane fade in active">
                        <div class="panel panel-default">
                            <div class="panel-heading nav navbar-default">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="/#home"> TV</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="/#internet" ng-click="loadContingeciaInternet()"> Internet-Toip</a>
                                    </li>
                                    <!--<li>
                                        <a data-toggle="tab" href="/#portafolio" ng-click="loadContingenciaPortafolio()"> Corregir Portafolio</a>
                                    </li>-->
                                </ul>
                            </div>

                            <div class="tab-content">
                                <!-- MODULO DE TV -->
                                <div id="home" class="tab-pane fade in active">
                                    <div data-ng-if="loading">
                                        <img title="Esperando respuesta" tooltip data-placement="top" src="img/loader.gif"/>
                                    </div>

                                    <div class="container-fluid" ng-show="!haypedidoTV && contingenciesDataTV.length == 0">
                                        <div class="jumbotron">
                                            <center>
                                                <h3>Gestión Contingencias</h3>
                                            </center>
                                            <center>
                                                <h5>{{mensaje}}</h5>
                                            </center>
                                        </div>

                                    </div>
                                    <div class="" ng-show="haypedidoTV || contingenciesDataTV.length > 0">
                                        <div id="gridOptionsTv" ui-grid="gridOptionsTv" ui-grid-exporter ui-grid-pagination ui-grid-auto-resize
                                             style="font-size: 12px;text-transform: lowercase; color: #0f0f0f;height: 500px" external-scopes="userLog"></div>
                                    </div>
                                </div>

                                <!-- MODULO DE INTERNET-ToIp -->
                                <div id="internet" class="tab-pane fade">
                                    <div data-ng-if="loading">
                                        <img title="Esperando respuesta" tooltip data-placement="top" src="img/loader.gif"/>
                                    </div>

                                    <div class="" ng-show="!haypedidoOtros && contingenciesDataInternetToIP.length == 0">
                                        <div class="jumbotron">
                                            <center>
                                                <h3>Gestión Contingencias</h3>
                                            </center>
                                            <center>
                                                <h5>{{mensajeotros}}</h5>
                                            </center>
                                        </div>
                                    </div>
                                    <div class="" ng-show="haypedidoOtros || contingenciesDataInternetToIP.length > 0">
                                        <div id="gridOptionsInternet" ui-grid="gridOptionsInternet" ui-grid-exporter ui-grid-pagination ui-grid-auto-resize
                                             style="font-size: 12px;text-transform: lowercase; color: #0f0f0f;height: 500px" external-scopes="userLog"></div>
                                    </div>
                                </div>
                                <div id="portafolio" class="tab-pane fade">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="panel panel-default">
                                                <div class="panel-heading nav navbar-default">
                                                    <ul class="nav navbar-nav navbar-left">
                                                        <b><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Corregir Inconsistencia Portafolio</b>
                                                    </ul>
                                                    <ul class="nav navbar-nav navbar-right">
                                                        <b>
                                                            <button type="button" class="btn btn-default btn-xs" ng-click="gestioncontingencias()" title="Actualizar"
                                                                    data-toggle="tooltip"
                                                                    data-placement="top" ng-disabled="loading">
                                                                <i class="fa fa-refresh" aria-hidden="true"></i>
                                                            </button>
                                                        </b>&nbsp;
                                                    </ul>
                                                </div>
                                                <div class="container-fluid" ng-show="!haypedidoPortafolio">
                                                    <div class="jumbotron">
                                                        <center>
                                                            <h3>Gestión Prioritaria</h3>
                                                        </center>
                                                        <center>
                                                            <h5>{{mensajeotros}}</h5>
                                                        </center>
                                                    </div>
                                                </div>
                                                <div class="container-fluid" ng-show="haypedidoPortafolio">
                                                    <div id="gridOptionsPortafolio" ui-grid="gridOptionsPortafolio" ui-grid-exporter ui-grid-pagination ui-grid-auto-resize
                                                         style="font-size: 12px;text-transform: lowercase; color: #0f0f0f;height: 500px" external-scopes="gridApi"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- MODULO DE SEGUMIENTO -->
                    <div id="Kpis" class="tab-pane fade container-fluid">
                        <center>
                            <h5>
                                <span class="label label-warning" ng-show="!sinPedido">{{mensajeBuscar}}</span>
                            </h5>
                        </center>

                        <!-- CONTADOR POR ESTADO PENDIENTE-ACEPTA-RECHAZA PARA TV-INTERNET -->
                        <!--<div class="col-md-2">
                            <div class="">
                                <div class="panel panel-default">
                                    <div class="panel-heading nav navbar-default">
                                        <b> Gestión mes</b>
                                        <ul class="nav navbar-nav navbar-right">
                                            <span class="badge ">{{estados[0].totalestados}}</span>&nbsp;&nbsp;
                                        </ul>
                                        <b><h5 class="subtitulo">Tv-Internet</h5></b>
                                    </div>
                                    <div class="panel-heading nav navbar-default">
                                        <ul class="list-group small">
										<span>
											<a href="" ng-repeat="data in estados" class="list-group-item animated slideInRight">{{data.estado}}:
												<span class="badge ">{{data.total}}</span>
											</a>
										</span>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            &lt;!&ndash; CONTADOR POR ESTADO PENDIENTE-ACEPTA-RECHAZA PARA CORREGIR PORTAFOLIO &ndash;&gt;
                            <div class="">
                                <div class="panel panel-default">
                                    <div class="panel-heading nav navbar-default">
                                        <b> Gestión mes</b>
                                        <ul class="nav navbar-nav navbar-right">
                                            <span class="badge ">{{estadosCP[0].totalestados}}</span>&nbsp;&nbsp;
                                        </ul>
                                        <b><h5 class="subtitulo">Corregir Portafolio</h5></b>
                                    </div>
                                    <div class="panel-heading nav navbar-default">
                                        <ul class="list-group small">
										<span>
											<a href="" ng-repeat="data in estadosCP" class="list-group-item animated slideInRight">{{data.estado}}:
												<span class="badge ">{{data.total}}</span>
											</a>
										</span>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <!-- CUERPO DE PEDIDOS QUE PASARON POR LA PAGINA DE SEGUIMIENTO -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-heading nav navbar-default">
                                        <ul class="nav navbar-nav navbar-left">
                                            <b><i class="fa fa-list-alt" aria-hidden="true"></i> Ingresos</b>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right" ng-hide="formulario">
                                            <li>
                                                <input type="text" name="pedido" id="pedido" class="btn btn-default btn-xs" ng-model="buscarPedido" placeholder="Buscar Pedido">
                                            </li>
                                            <li>
                                                <b>
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="buscarPedidoContingencia(buscarPedido)" title="Buscar"
                                                            data-toggle="tooltip" data-placement="left" ng-disabled="loading">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                    </button>
                                                </b>&nbsp;
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="panel-heading nav navbar-default">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li>
                                                <input type="text" name="fechaupdateInical" id="fechaupdateInical" class="btn btn-default btn-xs ng-pristine ng-valid ng-touched"
                                                       ng-model="fechaupdateInical" placeholder="Fecha Inicial" datetime-picker="" date-only date-format="yyyy-MM-dd">
                                                <i class="fa fa-calendar fa-fw"></i>
                                            </li>
                                            <li>
                                                <input type="text" name="fechaupdateFinal" id="fechaupdateFinal" class="btn btn-default btn-xs ng-pristine ng-valid ng-touched"
                                                       ng-model="fechaupdateFinal" placeholder="Fecha Final" datetime-picker="" date-only date-format="yyyy-MM-dd">
                                                <i class="fa fa-calendar fa-fw"></i>
                                            </li>
                                            <li>
                                                <b>
                                                    <button type="button" class="btn btn-default btn-xs" ng-click="resumenContingencias(fechaupdateInical, fechaupdateFinal)"
                                                            title="Actualizar" data-toggle="tooltip" data-placement="left" ng-disabled="loading">
                                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                                    </button>
                                                </b>&nbsp;
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-primary btn-xs" title="Exportar Registros"
                                                        ng-click="descargarContingencias(fechaupdateInical, fechaupdateFinal)"
                                                        ng-disabled="loading" title="Exportar mes en curso" tooltip data-placement="top">
                                                    <i class="fa fa-cloud-download" aria-hidden="true"> </i>
                                                </button>
                                            </li>&nbsp;&nbsp;&nbsp;
                                        </ul>
                                    </div>
                                    <div class="panel panel-default panel-body loadgridcontingencia">
                                        <h6 class="subtitulo text-center"><strong>Datos de TV, Internet-ToIp</strong></h6>

                                        <div data-ng-if="loading">
                                            <img title="Esperando respuesta" tooltip data-placement="top" src="img/loader.gif"/>
                                        </div>

                                        <div id="tntGridServices" ui-grid="gridOptions" ui-grid-pagination
                                             style="font-size: 12px;text-transform: lowercase; color: #0f0f0f;height: 300px"></div>

                                    </div>
                                    <!-- CONTADOR DE TV-iNTERNET -->


                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading nav navbar-default">
                                            <div class="col-md-12">

                                                <ul class="nav navbar-nav navbar-left">
                                                    <li>
                                                        <h5 class="subtitulo2"><b> Contador para TV:</b></h5>
                                                    </li>
                                                    <li>
                                                        <span class="label label-success"> Aceptados: {{Totaltotal_pedidos_aceptadosTV}}</span>&nbsp;&nbsp;&nbsp;
                                                    </li>
                                                    <li>
                                                        <span class="label label-warning"> Pendientes: {{Totaltotal_pedidos_pendientesTV}}</span>&nbsp;&nbsp;&nbsp;
                                                    </li>
                                                    <li>
                                                        <span class="label label-danger"> Rechazados: {{Totaltotal_pedidos_rechazadosTV}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12">

                                                <ul class="nav navbar-nav navbar-left">
                                                    <li>
                                                        <h5 class="subtitulo2"><b>Contador para Internet-ToIp:</b></h5>
                                                    </li>
                                                    <li>
                                                        <span class="label label-success"> Aceptados: {{Totaltotal_pedidos_aceptadosInTo}}</span>&nbsp;&nbsp;&nbsp;
                                                    </li>
                                                    <li>
                                                        <span class="label label-warning"> Pendientes: {{Totaltotal_pedidos_pendientesInTo}}</span>&nbsp;&nbsp;&nbsp;
                                                    </li>
                                                    <li>
                                                        <span class="label label-danger"> Rechazados: {{Totaltotal_pedidos_rechazadosInTo}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12">

                                                <ul class="nav navbar-nav navbar-left">
                                                    <li>
                                                        <h5 class="subtitulo"><b>Contador para General:</b></h5>
                                                    </li>
                                                    <li>
                                                        <span class="label label-success"> Aceptados: {{Totaltotal_pedidos_aceptados}}</span>&nbsp;&nbsp;&nbsp;
                                                    </li>
                                                    <li>
                                                        <span class="label label-warning"> Pendientes: {{Totaltotal_pedidos_pendientes}}</span>&nbsp;&nbsp;&nbsp;
                                                    </li>
                                                    <li>
                                                        <span class="label label-danger"> Rechazados: {{Totaltotal_pedidos_rechazados}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" ng-show="(galletainfo.perfil == 1 || galletainfo.perfil == 11 )">
                                    <div class="panel-footer clearfix">
                                        <ul class="nav navbar-nav navbar-left">
                                            <b><i class="fa fa-users" aria-hidden="true"></i> Recursos Gestionando Contingencias:</b>
                                        </ul>
                                        <br>
                                        <ul class="nav navbar-nav navbar-left">
                                            <li>
                                                <span class="label label-primary"> Televisión: {{Total_Personas_GestionandoTV}}</span>&nbsp;&nbsp;&nbsp;
                                            </li>
                                            <li>
                                                <span class="label label-primary"> Internet: {{Total_Personas_GestionandoInternet}}</span>&nbsp;&nbsp;&nbsp;
                                            </li>
                                            <li>
                                                <span class="label label-primary"> Corrección Portafolio: {{Total_Personas_GestionandoCP}}</span>&nbsp;&nbsp;&nbsp;
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-default btn-xs" ng-show="galletainfo.perfil == 11" ng-click="callModalCierreMasivoConti({})">
                                                    Cierre
                                                    Masivo
                                                </button>

                                            </li>
                                        </ul>
                                    </div>
                                    <table class="table table-striped">
                                        <tr>
                                            <th>
                                                <div class="panel panel-default panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">
                                                                <h5><p class="text-center"><b>Contingencias de Televisión</b></p></h5>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>Login Analista</th>
                                                            <th>Cantidad Marcadas</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="(key, data) in cantidadAnalistasTV">
                                                            <td class="filterable-cell"><i class="fa fa-user" aria-hidden="true"></i> {{key}}</td>
                                                            <td class="filterable-cell">{{data}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="panel panel-default panel-body">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">
                                                                <h5><p class="text-center"><b>Contingencias de Internet + ToIP</b></p></h5>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th>Login Analista</th>
                                                            <th>Cantidad Marcadas</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="(key, data) in cantidadAnalistasInt">
                                                            <td class="filterable-cell"><i class="fa fa-user" aria-hidden="true"></i> {{key}}</td>
                                                            <td class="filterable-cell">{{data}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </th>
                                        </tr>
                                    </table>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<br>
<br>
<div id="editarModal" class="modal fade " role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Observaciones contingencia para pedido {{gestioncontin.pedido}}</h4>
            </div>
            <div class="modal-body">
                <textarea name="observaciones" id="observaciones" cols="78" rows="6" ng-model="gestioncontin.observacionescontingencia"
                          placeholder="observaciones contingencia"></textarea>
                <div class="generar-cr">
                    Generar CR
                    <label class="switch">
                        <input type="checkbox" ng-model="gestioncontin.generarcr">
                        <span class="slider round"></span>
                    </label>
                    <p>* Recuerde marcar generar cr si es necesario para actualizar los equipos.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="guardarpedido(gestioncontin)" data-dismiss="modal">Guardar</button>
                <button type="button" ng-disabled="contact_form.$invalid" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PARA CORREGIR PORTAFOLIO -->
<div id="editarModalPortafolio" class="modal fade " role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Observaciones contingencia para pedido {{gestioncontinPortafilio.pedido}}</h4>
            </div>
            <div class="modal-body">
                <textarea name="observaciones" id="observaciones" cols="78" rows="6" ng-model="gestioncontinPortafilio.observContingenciaPortafolio"
                          placeholder="observaciones contingencia"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="guardarpedidoPortafolio(gestioncontinPortafilio)" data-dismiss="modal">Guardar
                </button>
                <button type="button" ng-disabled="contact_form.$invalid" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->
<div ng-include="rutaCierreMasivoContin"></div>

<div id="modalHistoricoContingencias" class="modal fullscreen-modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Histórico Contingecias:</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel panel-default" >
                        <div class="panel-heading nav navbar-default">
                            <table class="table table-striped table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>
                                        <center>Pedido</center>
                                    </th>
                                    <th>
                                        <center>Acción</center>
                                    </th>
                                    <th>
                                        <center>Ciudad</center>
                                    </th>
                                    <th>
                                        <center>Correo</center>
                                    </th>
                                    <th>
                                        <center>Mac Entra</center>
                                    </th>
                                    <th>
                                        <center>Mac Sale</center>
                                    </th>
                                    <th>
                                        <center>Paquetes</center>
                                    </th>
                                    <th>
                                        <center>Motivo</center>
                                    </th>
                                    <th>
                                        <center>Proceso</center>
                                    </th>
                                    <th>
                                        <center>Producto</center>
                                    </th>
                                    <th>
                                        <center>Contrato</center>
                                    </th>
                                    <th>
                                        <center>Perfil</center>
                                    </th>
                                    <th>
                                        <center>Hora ingreso</center>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in databsucarPedido">
                                    <td>
                                        <center>{{data.pedido}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.accion}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.ciudad}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.correo}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.macEntra}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.macSale}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.paquetes}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.motivo}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.proceso}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.producto}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.contrato}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.perfil}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.horagestion}}</center>
                                    </td>
                                </tr>
                                </tbody>
                                <tr>
                                    <th colspan="11">
                                        <br>
                                    </th>
                                </tr>
                                <thead>
                                <tr>
                                    <th>
                                        <center>Login despacho</center>
                                    </th>
                                    <th>
                                        <center>Login Contingencia</center>
                                    </th>
                                    <th>
                                        <center>Login Conti Corregir Porta</center>
                                    </th>
                                    <th>
                                        <center>Hora contingencia</center>
                                    </th>
                                    <th>
                                        <center>Hora contingencia Corregir Porta</center>
                                    </th>
                                    <th>
                                        <center>Tipo equipo</center>
                                    </th>
                                    <th>
                                        <center>Tecnología</center>
                                    </th>
                                    <th>
                                        <center>Remitente</center>
                                    </th>
                                    <th>
                                        <center>Tipificación Contingencia</center>
                                    </th>
                                    <th>
                                        <center>Tipificación Corregir Porta</center>
                                    </th>
                                    <th>
                                        <center>Estado</center>
                                    </th>
                                    <th>
                                        <center>Estado Corregir Porta</center>
                                    </th>
                                    <th>
                                        <center>Observaciones</center>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in databsucarPedido">


                                    <td>
                                        <center>{{data.logindepacho}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.logincontingencia}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.loginContingenciaPortafolio}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.horacontingencia}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.horaContingenciaPortafolio}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.tipoEquipo}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.tecnologia}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.remite}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.tipificacion}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.tipificacionPortafolio}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.acepta}}</center>
                                    </td>
                                    <td>
                                        <center>{{data.aceptaPortafolio}}</center>
                                    </td>
                                    <td>
                                        <!-- data-trigger="hover" para que el popover aparezca y desaparezca -->
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-backdrop="static" ng-disabled="loading" popover
                                                data-placement="left" data-html="true" data-selector="" title="Observacion ingreso" data-content="{{data.observacion}}">
                                            <i class="fa fa-commenting" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-backdrop="static" ng-disabled="loading" popover
                                                title="Observacion gestión" data-placement="left" data-html="true" data-selector="" data-content="{{data.observContingencia}}">
                                            <i class="fa fa-commenting" aria-hidden="true"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-backdrop="static" ng-disabled="loading" popover
                                                title="Observacion gestión Corregir Porta" data-placement="left" data-html="true" data-selector=""
                                                data-content="{{data.observContingenciaPortafolio}}">
                                            <i class="fa fa-commenting" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="contact_form.$invalid" class="btn btn-info" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

