<nav class="navbar navbar-default">

    <nav style="background:#00377B" class="hidden-xs">
        <br>
    </nav>

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="actividades"><img src="img/rsz_logonobg.png">
                <a class="navbar-brand" href="actividades">
                    <font color="#00377d"><b>Seguimiento</font>
                    <font color="#00377d"> a Pedidos</font>
                </a>
            </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="dropdown" ng-repeat="m in galletainfo.menu">
                    <a ng-if="m.n.sub" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        {{m.tittle}}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="subpage in m.n.sub">
                            <a ng-href="{{m.n.url[$index]}}">
                            <i class="{{m.n.icon[$index]}}" aria-hidden="true"></i>&nbsp;{{subpage}} </a>
                        </li>
                        <!-- <li ng-if="$index == 9" role="separator" class="divider"></li> -->
                    </ul>
                </li>
                <li ng-if="authenticated">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        Registro fallas<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li >
                            <a ng-href="registro-fallas">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Registrar fallas </a>
                        </li>
                        <li >
                            <a ng-href="gestion-fallas">
                                <i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp;gestión fallas </a>
                        </li>
                        <li >
                            <a ng-href="mi-registro-falla">
                                <i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;Mis solicitudes</a>
                        </li>
                        <li >
                            <a ng-href="todos-registros-fallas">
                                <i class="fa fa-adjust" aria-hidden="true"></i>&nbsp;Registros fallas </a>
                        </li>
                        <li >
                            <a ng-href="kpi-fallas-sistemas">
                                <i class="fa fa-android" aria-hidden="true"></i>&nbsp;KPI-fallas-sistema </a>
                        </li>
                        <!-- <li ng-if="$index == 9" role="separator" class="divider"></li> -->
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div ng-controller="loginCtrl" ng-show="!permiso">
                        <form class="navbar-form navbar-right" name="loginUserForm" method="POST" role="form">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw" data-toggle="tooltip"
                                        title="Usuario"></i></span>
                                <input type="text" class="form-control input-sm" ng-model="autenticacion.username"
                                    placeholder="username" required="" />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key fa-fw" data-toggle="tooltip"
                                        title="Contraseña"></i></span>
                                <input type="password" class="form-control input-sm" ng-model="autenticacion.password"
                                    placeholder="password" required="" />
                            </div>
                            <button type="submit" ng-disabled="!loginUserForm.$valid" class="btn btn-sm btn-info"
                                ng-click="login()">Login <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </li>
                <li ng-show="permiso" class="col-md-12" style="top:7px">
                    <span title="{{galletainfo.nombre}}" data-toggle="tooltip" data-placement="bottom">
                        {{galletainfo.login}}
                    </span>&nbsp;&nbsp;

                    <button type="button" class="btn btn-sm btn-info" ng-click="logout()" tooltip-placement="top" uib-tooltip="Salir">Salir <i
                            class="fa fa-sign-out" aria-hidden="true"></i></button>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<div ng-show="galletainfo!=undefined && permiso" class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
        <div class="mi-heading">
            <b>{{title}} <i class="fa fa-arrow-down" aria-hidden="true"></i></b>
        </div>
    </div>
</div>-->

<div ng-show="galletainfo!=undefined && permiso" class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            <div class="input-group" style="margin-top: 7px">
                <input type="search" class="form-control input-sm" placeholder="Buscar tarea" ng-model="Sbusqueda">
                <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="button" ng-click="SuperB(Sbusqueda)"
                                ng-disabled="loading" tooltip-placement="top" uib-tooltip="Buscar tarea"
                                ng-disabled="loading"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
            </div>
            <div data-ng-if="loading">
                <img title="Esperando respuesta" tooltip data-placement="top" src="img/loader.gif"/>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="mi-heading">
                    <b>{{title}} <i class="fa fa-arrow-down" aria-hidden="true"></i></b>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- FOOTER -->
<div class="navbar-fixed-bottom footer">
    <div class="row">
        <div class="col-xs-9 text-right">
            <span>Gerencia Despacho y Alistamiento (2023)</span>
        </div>
        <div class="col-xs-3"><img src="img/tigo.png" width="35px"></div>
    </div>
</div>
