<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<b><i class="fa fa-bars" aria-hidden="true"></i>Formulario Quejas Gestión Operativa</b>
					<span style="color: red" class="pull-right"><i class="fa fa-exclamation-triangle warning"
							aria-hidden="true" ng-hide="errorDatos==null"></i>
						{{errorDatos}}</span>
					<ul class="nav navbar-nav navbar-right">
						<div class="col-md-1 col-xs-1">
							<div data-ng-if="loading">
								<img title="Esperando respuesta" tooltip data-placement="top" src="img/loader.gif" />
							</div>
						</div>
					</ul>
				</div>
				<div class="panel-heading nav navbar-default">
					<div class="col-lg-12 col-xs-10">
						<ul class="nav navbar-nav navbar-right">
							<b>Buscar:</b>
							<select class="btn btn-default btn-xs grupo-select" name="producto"
								ng-model="Registros.columnaBusqueda">
								<option value="" disabled>Seleccione</option>
								<option value="accion">Acción</option>
								<option value="asesor">Asesor</option>
								<option value="id">Consecutivo</option>
								<option value="pedido">Número de queja</option>
								<option value="region">Región</option>
								<option value="idllamada">ID Llamada</option>
							</select>
							<input style="width:230px" type="text"
								class="btn btn-default btn-xs ng-pristine ng-valid ng-touched"
								placeholder="Ingrese el valor a buscar" ng-model="Registros.valorBusqueda">
							<input style="width:130px" type="text" name="fechaini" id="fechaini"
								class="btn btn-default btn-xs" ng-model="Registros.fechaini" placeholder="Fecha Inicial"
								datetime-picker="" date-format="yyyy-MM-dd" date-only>
							<i class="fa fa-calendar fa-fw"></i>
							<input style="width:130px" type="text" name="fechafin" id="fechafin"
								class="btn btn-default btn-xs" ng-model="Registros.fechafin" placeholder="Fecha Final"
								datetime-picker="" date-format="yyyy-MM-dd" date-only>
							<i class="fa fa-calendar fa-fw"></i>
							<button type="button" class="btn btn-default btn-xs" ng-click="validarDatos(Registros)"
								ng-disabled="loading" tooltip-placement="top" uib-tooltip="Buscar">
								<i class="fa fa-search-plus" aria-hidden="true"></i>
							</button>
							<button type="button" ng-show="galletainfo.perfil == 13 || galletainfo.perfil == 1"
								class="btn btn-info btn-xs" tooltip-placement="top" uib-tooltip="Exportar"
								ng-click="csvQuejasGo(Registros)" ng-disabled="loading">
								<i class="fa fa-cloud-download" aria-hidden="true"> </i>
							</button>

							<button type="button" ng-show="galletainfo.PERFIL !== '8'" class="btn btn-info btn-xs"
								tooltip-placement="top" uib-tooltip="Exportar" ng-click="csvQuejasGo()"
								ng-disabled="loading" title="Exportar" tooltip data-placement="top">
								<i class="fa fa-cloud-download" aria-hidden="true"> </i>
							</button>

							<button type="button" ng-click="mostraModal({})" class="btn btn-info btn-xs"
								tooltip-placement="top" uib-tooltip="Agregar novedad" ng-click="csvQuejasGo(Registros)"
								ng-disabled="loading">
								<i class="fa fa-plus"></i> Agregar
								Queja</a>
							</button>
						</ul>
					</div>
				</div>
				<div class="table-responsive animated bounceInRight">
					<table class="table table-bordered small table-condensed table-striped table-hover">
						<thead class="table-header">
							<tr>
								<th>Consecutivo</th>
								<th>Pedido</th>
								<th>Nombre Cliente</th>
								<th>Cédula Técnico</th>
								<th>Nombre Técnico</th>
								<th>Acción</th>
								<th>Asesor</th>
								<th>Fecha</th>
								<th>Duración</th>
								<th>Ciudad</th>
								<th>ID Llamada</th>
								<th>Observaciones</th>
								<th>Editar</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="registrosQuejasGo in listaQuejasGo | filter:busqueda as results ">
								<td>{{registrosQuejasGo.id}}</td>
								<td>{{registrosQuejasGo.pedido}}</td>
								<td>{{registrosQuejasGo.cliente}}</td>
								<td>{{registrosQuejasGo.cedtecnico}}</td>
								<td>{{registrosQuejasGo.tecnico}}</td>
								<td>{{registrosQuejasGo.accion}}</td>
								<td>{{registrosQuejasGo.asesor}}</td>
								<td>{{registrosQuejasGo.fecha}}</td>
								<td>{{registrosQuejasGo.duracion}}</td>
								<td>{{registrosQuejasGo.region}}</td>
								<td>{{registrosQuejasGo.idllamada}}</td>
								<td>{{registrosQuejasGo.observacion}}</td>
								<td>
									<button type="button" class="btn btn-info btn-xs" tooltip-placement="top" uib-tooltip="Editar novedad"
										ng-click="abrirModalModificarObs(registrosQuejasGo.id, registrosQuejasGo.observacion)">
										<i class="fa fa-edit"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="text-center">
					<ul uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage"
						ng-change="pageChanged()" items-per-page="pageSize" max-size="5" boundary-links="true"
						rotate="true" previous-text="&#8672;" next-text="&#8674;" first-text="Primero"
						last-text="Último"></ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modal modal-info fade" id="modalQuejasGo">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span></button>
					<h4 class="modal-title">Quejas GO: </h4>
				</div>

				<form name="frmQuejasGo" novalidate="novalidate" ng-submit="guardar( quejasGoSel, frmQuejasGo )">
					<div class="modal-body">
						<div class="form-group">
							<label>Pedido:</label>
							<input type="text" class="form-control" placeholder="Digite el Pedido"
								ng-model="quejasGoSel.pedido" required>
						</div>
						<div class="form-group">
							<label>Nombre del Cliente:</label>
							<input type="text" class="form-control" placeholder="Digite el nombre del cliente"
								ng-model="quejasGoSel.cliente" required>
						</div>

						<div class="form-group">
							<label>Cédula del Técnico:</label>
							<table style="width:100%">
								<tr>
									<th>
										<input type="text" class="form-control"
											placeholder="Digite la cédula del técnico" ng-model="quejasGoSel.cedtecnico"
											style="width:525px" required>
									</th>
									<th>
										<button type="button" class="btn btn-success btn-xm" ng-click="BuscarTecnico()"
											ng-disabled="loading" title="Buscar Técnico">
											<i class="fa fa-search-plus" aria-hidden="true"></i>
										</button>
									</th>
								</tr>
							</table>
						</div>

						<div class="form-group" ng-show="infoTecnico==true">
							<label>Nombre del Técnico:</label>
							<input type="text" class="form-control" ng-model="quejasGoSel.tecnico" disabled="">
						</div>
						<div class="form-group" ng-show="infoTecnico==true">
							<label>Ciudad:</label>
							<input type="text" class="form-control" ng-model="quejasGoSel.region" disabled="">
						</div>
						<div class="form-group">
							<label>Acción:</label>
							<select ng-model="quejasGoSel.accion" placeholder="Seleccione.." class="form-control"
								required>
								<option value="" disabled>--Seleccione--</option>
								<option value="Atendida">Atendida</option>
								<option value="Atendida sin solucion">Atendida sin solución</option>
								<option value="Atendida escalado a la comercial">Atendida escalado a la
									comercial</option>
								<option value="Atendida escalado a facturacion">Atendida escalado a
									facturación</option>
								<option value="Atendida con compromiso">Atendida con compromiso</option>
								<option value="Agenda">Agenda</option>
								<option value="Cliente ilocalizado">Cliente ilocalizado</option>
								<option value="Consulta queja">Consulta queja</option>
								<option value="Devolucion queja a supervisor">Devolución queja a supervisor
								</option>
								<option value="Devolucion queja a Nivel 1">Devolución queja a Nivel 1
								</option>
								<option value="Llamada colgada">Llamada colgada</option>
								<option value="Llamada equivocada">Llamada equivocada</option>
								<option value="Llamada muda">Llamada muda</option>
								<option value="Llamar de nuevo usuario">Llamar de nuevo usuario</option>
								<option value="Monitoreo técnico">Monitoreo técnico</option>
								<option value="Notas">Notas</option>
								<option value="Reagenda">Reagenda</option>
							</select>
						</div>
						<div class="form-group">
							<label>Id Llamada:</label>
							<input type="text" class="form-control" placeholder="Digite el id de la llamada"
								ng-model="quejasGoSel.idllamada" required>
						</div>
						<div class="form-group">
							<label>Observación:</label>
							<textarea type="text" class="form-control" placeholder="Digite las observaciones"
								ng-model="quejasGoSel.observacion" rows="5" required></textarea>
						</div>
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>
							Guardar</button>
					</div>
				</form>

			</div>
		</div>
	</div>

	<div class="modal modal-info fade" id="crearTecnicoQuejasGo">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Crear Técnico </h4>
				</div>
				<form name="frmCrearTecnicoQuejasGo" novalidate="novalidate"
					ng-submit="crearTecQuejasGo(crearTecnicoquejasGoSel, frmCrearTecnicoQuejasGo)">
					<div class="modal-body">
						<div class="container-fluid">
							<div class="form-group">
								<div class="form-group">

									<div class="form-group">
										<label>Cédula del Técnico:</label>
										<input type="text" class="form-control"
											placeholder="Digite la cédula del técnico"
											ng-model="crearTecnicoquejasGoSel.cedtecnico" required="">
									</div>

									<div class="form-group">
										<label>Nombre del Técnico:</label>
										<input type="text" class="form-control"
											placeholder="Digite el nombre del técnico"
											ng-model="crearTecnicoquejasGoSel.nombretecnico" required="">
									</div>

									<div class="form-group">
										<label>Celular:</label>
										<input type="text" class="form-control"
											placeholder="Digite el número de celular del técnico"
											ng-model="crearTecnicoquejasGoSel.celulartecnico">
									</div>

									<div class="form-group">
										<label>Ciudad</label>
										<select ng-model="crearTecnicoquejasGoSel.region" placeholder="Seleccione.."
											class="form-control" required="">
											<option value="" disabled>--Seleccione--</option>
											<option ng-repeat="f in listadoCiudadesQGo" value="{{f.ciudad}}">
												{{f.ciudad}} </option>
										</select>
									</div>

									<div class="form-group">
										<label>Empresa:</label>
										<select ng-model="crearTecnicoquejasGoSel.empresa" name="crearempresa"
											placeholder="Seleccione la empresa.." class="form-control" capitalize
											required>
											<option value="" disabled>--Seleccione--</option>
											<option ng-repeat="f in empresas" value="{{f.ID}}">
												{{f.EMPRESA}} </option>
										</select>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>
							Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal modal-info fade" id="modObserQuejasGo">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modificar Observaciones</h4>
				</div>
				<form name="frmModObserQuejasGo" novalidate="novalidate"
					ng-submit="modificarObservacionQuejasGo(quejasGoSel, frmModObserQuejasGo)">
					<div class="modal-body">
						<div class="container-fluid">
							<div class="form-group">
								<div class="form-group">

									<div class="form-group">
										<label>Observación:</label>
										<textarea type="text" class="form-control" ng-model="quejasGoSel.observacion"
											rows="15"></textarea>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>
							Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<br><br><br>