<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading nav navbar-default">
                    <ul class="nav navbar-nav navbar-left">
                        <b>Registro equipos</b> <span class="badge badge-default">{{totalItems}}</span>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <input style="width: 130px" type="text" name="fechaini" id="fechaini"
                                   class="btn btn-default btn-xs ng-pristine ng-valid ng-touched" ng-model="registroEq.fechaini"
                                   placeholder="Fecha Inicial" datetime-picker="" date-only autocomplete="off" date-format="yyyy-MM-dd"
                                   autocomplete="off"/>
                            <i class="fa fa-calendar fa-fw"></i>
                            <input style="width: 130px" type="text" name="fechafin" id="fechafin"
                                   class="btn btn-default btn-xs ng-pristine ng-valid ng-touched" ng-model="registroEq.fechafin"
                                   placeholder="Fecha Final" datetime-picker="" date-only autocomplete="off" date-format="yyyy-MM-dd"
                                   autocomplete="off"/>
                            <i class="fa fa-calendar fa-fw"></i>

                            <button type="button" class="btn btn-default btn-xs" ng-click="registrosEq(registroEq)"
                                    ng-disabled="loading" tooltip-placement="top" uib-tooltip="Buscar">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>

                            <button type="button" class="btn btn-success btn-xs" title="Exportar Registros"
                                    ng-click="csvRegistroEquipos(registroEq)" ng-disabled="loading" tooltip-placement="top" uib-tooltip="Exportar">
                                <i class="fa fa-cloud-download" aria-hidden="true"> </i>
                            </button>

                            <b>
                                <input type="text" name="pedido" id="pedido" class="btn btn-default btn-xs" ng-model="pedido"
                                       placeholder="Buscar pedido" autocomplete="off"/>&nbsp;

                                <button type="button" class="btn btn-default btn-xs" ng-click="buscarPedido(pedido)"
                                        tooltip-placement="top" uib-tooltip="Buscar" ng-disabled="loading">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </b>&nbsp;
                        </li>
                        <li>
                            <button type="button" class="btn btn-default btn-xs" ng-click="recargaPage()" tooltip-placement="top"
                                    uib-tooltip="Actualizar" ng-disabled="loading">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </li>
                        &nbsp;&nbsp;
                    </ul>
                </div>

                <div class="table-responsive">
                    <table class="table small table-hover table-striped table-condensed table-bordered">
                        <thead class="table-header">
                        <tr>
                            <th class="text-center" style="width: 8%">Pedido</th>
                            <th class="text-center" style="width: 5%">Nom. técnico</th>
                            <th class="text-center" style="width: 5%">Documento técnico</th>
                            <th class="text-center" style="width: 5%">Fecha Ingreso</th>
                            <th class="text-center" style="width: 15%">Nom. cliente</th>
                            <th class="text-center" style="width: 15%">Dir. cliente</th>
                            <th class="text-center" style="width: 5%">Municipio</th>
                            <th class="text-center" style="width: 5%">Gis</th>
                            <th class="text-center" style="width: 8%">Equipos (mac-entra)</th>
                            <th class="text-center" style="width: 5%">Obs. técnico</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in registroEquipos">

                            <td class="text-center">{{data.pedido}}</td>
                            <td class="text-center">{{data.tecnico}}</td>
                            <td class="text-center">{{data.cc_tecnico}}</td>
                            <td class="text-center">{{data.fecha_ingreso}}</td>
                            <td class="text-center">{{data.cliente}}</td>
                            <td class="text-center">{{data.direccion}}</td>
                            <td class="text-center">{{data.municipio}}</td>
                            <td class="text-center">{{data.gis}}</td>
                            <td class="text-center">{{data.mac_entra}}</td>
                            <td class="text-center">
                                <button popover-placement="left" uib-popover="{{data.observacion}}" tooltip-placement="top"
                                        uib-tooltip="Observación asesor" type="button" class="btn btn-default btn-xs">
                                    <i class="fa fa-commenting" aria-hidden="true"></i>
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage"
                        ng-change="pageChanged()" items-per-page="pageSize" max-size="5" boundary-links="true"
                        rotate="true" previous-text="&#8672;" next-text="&#8674;" first-text="Primero"
                        last-text="Último"></ul>
                </div>
            </div>
        </div>

        <!-- <div id="seguimiento" class="tab-pane fade">
              <div class="panel panel-default">
                <div class="panel-heading nav navbar-default">
                  <ul class="nav navbar-nav navbar-left">
                    <b>Registros Quejas-Go</b>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <div data-ng-if="loading">
                        <img title="Esperando respuesta" tooltip data-placement="top" src="img/loader.gif" />
                      </div>
                    </li>
                    <li>
                      <input style="width: 130px" type="text" name="fechaini" id="fechaini"
                        class="btn btn-default btn-xs ng-pristine ng-valid ng-touched" ng-model="quejago.fechaini"
                        placeholder="Fecha Inicial" datetime-picker="" date-only autocomplete="off" date-format="yyyy-MM-dd"
                        autocomplete="off" />
                      <i class="fa fa-calendar fa-fw"></i>
                      <input style="width: 130px" type="text" name="fechafin" id="fechafin"
                        class="btn btn-default btn-xs ng-pristine ng-valid ng-touched" ng-model="quejago.fechafin"
                        placeholder="Fecha Final" datetime-picker="" date-only autocomplete="off" date-format="yyyy-MM-dd"
                        autocomplete="off" />
                      <i class="fa fa-calendar fa-fw"></i>

                      <button type="button" class="btn btn-default btn-xs" ng-click="registrosQuejasGo(quejago)"
                        ng-disabled="loading" tooltip-placement="top" uib-tooltip="Buscar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>

                      <button type="button" class="btn btn-success btn-xs" title="Exportar Registros"
                        ng-click="csvQuejaGo(quejago)" ng-disabled="loading" tooltip-placement="top" uib-tooltip="Exportar">
                        <i class="fa fa-cloud-download" aria-hidden="true"> </i>
                      </button>

                      <b>
                        <input type="text" name="pedido" id="pedido" class="btn btn-default btn-xs" ng-model="pedido"
                          placeholder="Buscar numero SS" autocomplete="off" />&nbsp;

                        <button type="button" class="btn btn-default btn-xs" ng-click="detallePedidoQuejaGo(pedido)"
                        tooltip-placement="top" uib-tooltip="Buscar" ng-disabled="loading">
                          <i class="fa fa-search" aria-hidden="true"></i>
                        </button> </b>&nbsp;
                    </li>
                    <li>
                      <button type="button" class="btn btn-default btn-xs" ng-click="recargaPage()" tooltip-placement="top"
                        uib-tooltip="Actualizar" ng-disabled="loading">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                      </button>
                    </li>
                    &nbsp;&nbsp;
                  </ul>
                </div>

                <div class="">
                  <table class="table small table-hover table-striped table-condensed table-bordered">
                    <thead class="table-header">
                      <tr>
                        <th class="text-center" style="width: 8%">Login Gestión</th>
                        <th class="text-center" style="width: 8%">Numero SS</th>
                        <th class="text-center" style="width: 8%">Consecutivo</th>
                        <th class="text-center" style="width: 5%">Nom. técnico</th>
                        <th class="text-center" style="width: 5%">Doc técnico</th>
                        <th class="text-center" style="width: 5%">Fecha Ingreso</th>
                        <th class="text-center" style="width: 5%">Fecha marca</th>
                        <th class="text-center" style="width: 5%">Fecha gestion</th>
                        <th class="text-center" style="width: 8%">Nom. cliente</th>
                        <th class="text-center" style="width: 8%">Ciudad</th>
                        <th class="text-center" style="width: 8%">Dirección</th>
                        <th class="text-center" style="width: 8%">Tel. contacto</th>
                        <th class="text-center" style="width: 5%">Des. queja</th>
                        <th class="text-center" style="width: 5%">Obs. técnico</th>
                        <th class="text-center" style="width: 8%">Acción</th>
                        <th class="text-center" style="width: 5%">Gestión</th>
                        <th class="text-center" style="width: 5%">Obs. Asesor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="data in dataQuejasTerminados">
                        <td class="text-center">
                          <span>{{data.asesor}}</span>
                        </td>
                        <td class="text-center">
                          <button type="button" class="btn btn-default btn-xs" ng-click="CopyPortaPapeles(data.pedido)"
                            tooltip title="Copiar pedido" id="tv{{$index}}">
                            {{data.pedido}}
                          </button>
                        </td>
                        <td class="text-center">{{data.id}}</td>
                        <td class="text-center">{{data.tecnico}}</td>
                        <td class="text-center">{{data.cedtecnico}}</td>
                        <td class="text-center">{{data.fecha}}</td>
                        <td class="text-center">{{data.fecha_marca}}</td>
                        <td class="text-center">{{data.fecha_gestion}}</td>
                        <td class="text-center">{{data.cliente}}</td>
                        <td class="text-center">{{data.region}}</td>
                        <td class="text-center">{{data.direccion}}</td>
                        <td class="text-center">{{data.movil_cliente}}</td>
                        <td class="text-center">
                          <button popover-placement="left" uib-popover="{{data.descripcion_queja}}" tooltip-placement="top"
                            uib-tooltip="Descripción de la queja" type="button" class="btn btn-info btn-xs">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </button>

                        </td>
                        <td class="text-center">
                          <button popover-placement="left" uib-popover="{{data.observacion}}" tooltip-placement="top"
                            uib-tooltip="Observaciones técnico" popover-title="Observación técnico" type="button"
                            class="btn btn-info btn-xs">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </button>

                        </td>
                        <td class="text-center">
                          <select ng-model="data.accion" style="width: 120px" disabled="true"
                            class="btn btn-default btn-xs grupo-select">
                            <option value="Atendida">Atendida</option>
                            <option value="Atendida con compromiso">Atendida con compromiso</option>
                            <option value="Atendida escalado a facturación">Atendida escalado a facturación</option>
                            <option value="Atendida escalado a la comercial">Atendida escalado a la comercial</option>
                            <option value="Atendida sin solución">Atendida sin solución</option>
                            <option value="Agenda">Agenda</option>
                            <option value="Cliente Ilocalizado">Cliente Ilocalizado</option>
                            <option value="Llamada colgada">Llamada colgada</option>
                            <option value="Llamar de nuevo usuario">Llamar de nuevo usuario</option>
                            <option value="Reagenda">Reagenda</option>
                            <option value="Devolución queja a Nivel 1">Devolución queja a Nivel 1</option>
                            <option value="Devolución queja a supervisor">Devolución queja a supervisor</option>
                            <option value="Monitoreo técnico">Monitoreo técnico</option>
                            <option value="Notas">Notas</option>
                          </select>
                        </td>
                        <td class="text-center">
                          <select ng-model="data.gestion_asesor" style="width: 120px" disabled="true"
                            class="btn btn-default btn-xs grupo-select">
                            <option value="Atención">Atención</option>
                            <option value="Contactabilidad">Contactabilidad</option>
                            <option value=" Devolución">Devolución</option>
                            <option value="Monitoreo">Monitoreo</option>
                          </select>
                        </td>
                        <td class="text-center">
                          <button popover-placement="left" uib-popover="{{data.observacion_gestion}}"
                          tooltip-placement="top" uib-tooltip="Observación asesor" type="button" class="btn btn-info btn-xs">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                          </button>

                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-center">
                  <ul uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage"
                    ng-change="pageChanged()" items-per-page="pageSize" max-size="3" boundary-links="true" rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <br />
              </div>
            </div> -->
    </div>
</div>
