<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b><i aria-hidden="true" class="fa fa-bars"></i> Listado de usuarios</b>
                    <span class="pull-right" style="color:red"><i aria-hidden="true"
                                                                  class="fa fa-exclamation-triangle warning"
                                                                  ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
                    <span class="pull-right" style="color:green"><i aria-hidden="true" class="fa fa-check-circle"
                                                                    ng-hide="respuestaupdate==null"></i> {{respuestaupdate}}</span>
                    <span class="pull-right" style="color:red"><i aria-hidden="true"
                                                                  class="fa fa-exclamation-triangle warning"
                                                                  ng-hide="respuestadelete==null"></i> {{respuestadelete}}</span>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="col-md-1 col-xs-1 ">
                                <div data-ng-if="loading">
                                    <img data-placement="top" data-toggle="tooltip" src="img/loader.gif"
                                         title="Esperando respuesta"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-heading nav navbar-default">
                    <div class="col-md-12">
                        <ul class="nav navbar-nav navbar-right">
                            <li>Registros:<span class="badge badge-default">{{totalItems}}</span>&nbsp;</li>
                            <li>
                                <select class="btn btn-default btn-xs grupo-select" ng-model="con.concepto">
                                    <option ng-repeat="f in conceptosBuscar" value="{{f.ID}}">
                                        {{f.CONCEPTO}}
                                    </option>
                                </select>
                                <div class="btn-group">
                                    <input capitalize class="btn btn-default btn-xs " data-placement="bottom"
                                           ng-disabled="loading"
                                           ng-model="con.usuario" placeholder="Buscar..." select-on-click
                                           style="width:140px"
                                           tooltip
                                           type="text"/>
                                    <button class="btn btn-success btn-xs" ng-click="buscarUsuario(con)"
                                            ng-disabled="loading"
                                            tooltip-placement="top" type="button" uib-tooltip="Buscar">
                                        <i aria-hidden="true" class="fa fa-search-plus"> </i>
                                    </button>

                                    &nbsp;
                                </div>
                                <button class="btn btn-default btn-xs" data-backdrop="static" data-target="#createUser"
                                        data-toggle="modal" ng-click="crearModal()"
                                        ng-disabled="loading" tooltip-placement="top"
                                        type="button" uib-tooltip="Crear usuario"><i aria-hidden="true"
                                                                                     class="fa fa-user-plus">
                                </i>
                                </button>

                                <button class="btn btn-default btn-xs"
                                        ng-click="refresh()"
                                        ng-disabled="loading" tooltip-placement="top"
                                        type="button" uib-tooltip="refrescar"><i aria-hidden="true"
                                                                                 class="fa fa-refresh">
                                </i>
                                </button>


                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table small table-condensed table-bordered table-hover">
                        <thead class="table-header">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Login</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Identificación</th>
                            <th class="text-center">Correo</th>
                            <th class="text-center">Perfil</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center" ng-show="galletainfo.perfil == 11">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in listaUsuarios">
                            <td class="text-center">{{data.ID}}</td>
                            <td class="text-center">{{data.LOGIN}}</td>
                            <td class="text-center">{{data.NOMBRE}}</td>
                            <td class="text-center">{{data.IDENTIFICACION}}</td>
                            <td class="text-center">{{data.correo}}</td>
                            <td class="text-center">{{data.PERFIL}}</td>
                            <td class="text-center">{{data.estado}}</td>

                            <td class="text-center" ng-show="galletainfo.perfil == 11">
                                <button class="btn btn-default btn-xs" data-backdrop="static" data-target="#editarModal"
                                        data-toggle="modal"
                                        ng-click="editarUser(data)" ng-disabled="loading" tooltip-placement="top"
                                        type="button" uib-tooltip="Editar usuario">
                                    <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                                </button>
                                <button class="btn btn-default btn-xs" data-backdrop="static" data-target="#deleteUser"
                                        data-toggle="modal"
                                        ng-click="deleteUser(data)" ng-disabled="loading" tooltip-placement="top"
                                        type="button" uib-tooltip="Eliminar usuario">
                                    <i aria-hidden="true" class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul boundary-links="true" class="pagination-sm" first-text="Primero" items-per-page="pageSize"
                        last-text="Último" max-size="5" next-text="&#8674;" ng-change="pageChanged()"
                        ng-model="currentPage"
                        previous-text="&#8672;" rotate="true" total-items="totalItems" uib-pagination></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createUser" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear usuario</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="creaUsuario" name="creaUsuario">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : contact_form.nombre.$touched && contact_form.nombre.$invalid}">
                                    <label for="nombre">Nombre</label>
                                    <input autocomplete="off" class="form-control input-sm"
                                           id="nombre" minlength="4" ng-model="crea.nombre" required
                                           type="text">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : contact_form.id.$touched && contact_form.id.$invalid}">
                                    <label for="Identificacion">Identificacion</label>
                                    <input class="form-control input-sm"
                                           id="Identificacion" minlength="5"
                                           ng-model="crea.identificacion" required type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Perfil">Perfil</label>
                                    <select autocomplete="off" class="form-control input-sm" id="Perfil"
                                            ng-model="crea.perfil">
                                        <option ng-repeat="f in listaPerfil" value="{{f.perfil}}">
                                            {{f.nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="login">Login</label>
                                    <input autocomplete="off" class="form-control input-sm"
                                           id="login" minlength="5" ng-model="crea.login" required type="text">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="correo">Correo</label>
                                    <input autocomplete="off" class="form-control input-sm"
                                           id="correo" minlength="5" ng-model="crea.correo" required
                                           type="email">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
                    <button class="btn btn-success" ng-click="creaUser(crea)" ng-disabled="creaUsuario.$invalid"
                            type="submit">Guardar
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade " id="deleteUser" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title">Eliminar el usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="logind">Login</label>
                                <input autocomplete="off" class="form-control input-sm"
                                       id="logind" minlength="5" ng-model="datosDelete.login" required
                                       type="text">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombred">Login</label>
                                <input autocomplete="off" class="form-control input-sm"
                                       id="nombred" minlength="5" ng-model="datosDelete.nombre" required
                                       type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="logind">Perfil</label>
                                <input autocomplete="off" class="form-control input-sm"
                                       id="perfild" minlength="5" ng-model="datosDelete.perfil" required
                                       type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="identificaciond">Identificación</label>
                                <input autocomplete="off" class="form-control input-sm"
                                       id="identificaciond" minlength="5" ng-model="datosDelete.identificacion"
                                       required type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancelar</button>
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteUserC(datosDelete)"
                            type="button">Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editarModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar usuario</h4>
                </div>
                <div class="modal-body">
                    <form id="editUser" name="editUser">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.nombreEdit.$touched && editUser.nombreEdit.$invalid}">
                                    <label for="nombreEdit">Nombre</label>
                                    <input class="form-control input-sm" id="nombreEdit"
                                           minlength="5" name="nombreEdit" ng-model="datosEditar.NOMBRE"
                                           required type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.indent.$touched && editUser.indent.$invalid}">
                                    <label for="indent">Identificación</label>
                                    <input class="form-control input-sm" id="indent"
                                           ng-model="datosEditar.IDENTIFICACION" placeholder="Identificación"
                                           required type="text">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.perfilEdit.$touched && editUser.perfilEdit.$invalid}">
                                    <label for="perfilEdit">Perfil</label>
                                    <select class="form-control input-sm" id="perfilEdit" name="perfilEdit"
                                            ng-model="datosEditar.perfil"
                                            required>
                                        <option ng-repeat="f in listaPerfil" ng-value="f.perfil">
                                            {{f.nombre}}
                                        </option>
                                        <!-- <option ng-repeat="f in listaPerfil" value="{{f.perfil}}">
                                             {{f.nombre}}
                                         </option>-->
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.loginEdit.$touched && editUser.loginEdit.$invalid}">
                                    <label for="loginEdit">Login</label>
                                    <input autocomplete="off" class="form-control input-sm"
                                           id="loginEdit" ng-model="datosEditar.LOGIN" required
                                           type="text">
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="correoEdit">Correo</label>
                                    <input autocomplete="off" class="form-control input-sm"
                                           id="correoEdit" minlength="5" ng-model="datosEditar.correo" required
                                           type="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="estado" style="margin-right: 5px">Estado</label>
                                    <input name="estado" ng-if="!datosEditar.estado" type="hidden" value="Inactivo">
                                    <input class="switch_1" id="estado" name="estado"
                                           ng-checked="datosEditar.estado == 'Activo'" ng-false-value="'Inactivo'"
                                           ng-model="datosEditar.estado" ng-true-value="'Activo'"
                                           style="font-size: 15px; margin-bottom: -6px;" type="checkbox">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cerrar</button>
                    <button class="btn btn-success" ng-click="editUserSave(datosEditar)" ng-disabled="editUser.$invalid"
                            type="button">Guardar
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<br><br><br>
