<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b><i class="fa fa-bars" aria-hidden="true"></i> Listado de usuarios</b>
                    <span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"
                                                                  ng-hide="errorDatos==null"></i> {{errorDatos}}</span>
                    <span style="color:green" class="pull-right"><i class="fa fa-check-circle" aria-hidden="true"
                                                                    ng-hide="respuestaupdate==null"></i> {{respuestaupdate}}</span>
                    <span style="color:red" class="pull-right"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"
                                                                  ng-hide="respuestadelete==null"></i> {{respuestadelete}}</span>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="col-md-1 col-xs-1 ">
                                <div data-ng-if="loading">
                                    <img title="Esperando respuesta" data-toggle="tooltip" data-placement="top" src="img/loader.gif"/>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-heading nav navbar-default">
                    <div class="col-md-12">
                        <ul class="nav navbar-nav navbar-right">
                            <li>Registros:<span class="badge badge-default">{{totalItems}}</span>&nbsp;</li>
                            <li>
                                <select ng-model="con.concepto" class="btn btn-default btn-xs grupo-select">
                                    <option ng-repeat="f in conceptosBuscar" value="{{f.ID}}">
                                        {{f.CONCEPTO}}
                                    </option>
                                </select>
                                <div class="btn-group">
                                    <input style="width:140px" class="btn btn-default btn-xs " type="text" ng-model="con.usuario"
                                           placeholder="Buscar..." tooltip data-placement="bottom" ng-disabled="loading" select-on-click
                                           capitalize/>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="buscarUsuario(con)"
                                            ng-disabled="loading" tooltip-placement="top" uib-tooltip="Buscar">
                                        <i class="fa fa-search-plus" aria-hidden="true"> </i>
                                    </button>

                                    &nbsp;
                                </div>
                                <button type="button" class="btn btn-default btn-xs" ng-click="crearModal()" data-toggle="modal" ng-show="galletainfo.perfil == 11"
                                        data-target="#createUser" data-backdrop="static" ng-disabled="loading"
                                        tooltip-placement="top" uib-tooltip="Crear usuario"><i class="fa fa-user-plus" aria-hidden="true">
                                </i>
                                </button>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table small table-condensed table-bordered table-hover">
                        <thead class="table-header">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Login</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Identificación</th>
                            <th class="text-center">Perfil</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center" ng-show="galletainfo.perfil == 11">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in listaUsuarios">
                            <td class="text-center">{{data.ID}}</td>
                            <td class="text-center">{{data.LOGIN}}</td>
                            <td class="text-center">{{data.NOMBRE}}</td>
                            <td class="text-center">{{data.IDENTIFICACION}}</td>
                            <td class="text-center">{{data.PERFIL}}</td>
                            <td class="text-center">{{data.estado}}</td>

                            <td class="text-center" ng-show="galletainfo.perfil == 11">
                                <button type="button" class="btn btn-default btn-xs" ng-click="editarUser(data)" data-toggle="modal"
                                        data-target="#editarModal" data-backdrop="static" ng-disabled="loading" tooltip-placement="top" uib-tooltip="Editar usuario">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" ng-click="deleteUser(data)" data-toggle="modal"
                                        data-target="#deleteUser" data-backdrop="static" ng-disabled="loading" tooltip-placement="top" uib-tooltip="Eliminar usuario">
                                    <i class="fa fa-remove" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <ul uib-pagination class="pagination-sm" total-items="totalItems" ng-model="currentPage"
                        ng-change="pageChanged()" items-per-page="pageSize" max-size="5" boundary-links="true" rotate="true"
                        previous-text="&#8672;" next-text="&#8674;" first-text="Primero" last-text="Último"></ul>
                </div>
            </div>
        </div>
    </div>

    <div id="createUser" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear usuario</h4>
                </div>
                <div class="modal-body">
                    <form action="" id="creaUsuario" name="creaUsuario">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : contact_form.nombre.$touched && contact_form.nombre.$invalid}">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" ng-model="crea.nombre"
                                           class="form-control input-sm" id="nombre" required autocomplete="off" minlength="5">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : contact_form.id.$touched && contact_form.id.$invalid}">
                                    <label for="Identificacion">Identificacion</label>
                                    <input type="text"
                                           ng-model="crea.identificacion" id="Identificacion"
                                           class="form-control input-sm" required minlength="5">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Perfil">Perfil</label>
                                    <select ng-model="crea.perfil" class="form-control input-sm" id="Perfil" autocomplete="off">
                                        <option ng-repeat="f in perfiles" value="{{f.ID}}">
                                            {{f.PERFIL}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="contraseña">Contraseña</label>
                                    <input ng-model="crea.password" id="contraseña"
                                           type="password" class="form-control input-sm" autocomplete="off" minlength="5">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="contrasenac">Confirmar contraseña</label>
                                    <input ng-model="crea.passwordc" id="contrasenac"
                                           type="password" class="form-control input-sm" autocomplete="off" minlength="5">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="login">Login</label>
                                    <input type="text" class="form-control input-sm"
                                           ng-model="crea.login" id="login" required autocomplete="off" minlength="5">
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" ng-click="creaUser(crea)" ng-disabled="creaUsuario.$invalid">Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="deleteUser" class="modal fade " role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar el usuario</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="logind">Login</label>
                                <input type="text" class="form-control input-sm"
                                       ng-model="datosDelete.login" id="logind" required autocomplete="off" minlength="5">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombred">Login</label>
                                <input type="text" class="form-control input-sm"
                                       ng-model="datosDelete.nombre" id="nombred" required autocomplete="off" minlength="5">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="logind">Perfil</label>
                                <input type="text" class="form-control input-sm"
                                       ng-model="datosDelete.perfil" id="perfild" required autocomplete="off" minlength="5">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="identificaciond">Identificación</label>
                                <input type="text" class="form-control input-sm"
                                       ng-model="datosDelete.identificacion" id="identificaciond" required autocomplete="off" minlength="5">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteUserC(datosDelete)"
                            data-dismiss="modal">Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="editarModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar usuario</h4>
                </div>
                <div class="modal-body">
                    <form id="editUser" name="editUser">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.nombreEdit.$touched && editUser.nombreEdit.$invalid}">
                                    <label for="nombreEdit">Nombre</label>
                                    <input type="text" ng-model="datosEditar.NOMBRE"
                                           class="form-control input-sm" name="nombreEdit" id="nombreEdit"
                                           required minlength="5">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.pass.$touched && editUser.pass.$invalid}">
                                    <label for="pass">Contraseña</label>
                                    <input ng-model="datosEditar.PASSWORD"
                                           type="password" name="pass" class="form-control input-sm" id="pass"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.passc.$touched && editUser.passc.$invalid}">
                                    <label for="passc">Confirmar contraseña</label>
                                    <input ng-model="datosEditar.PASSWORDC"
                                           type="password" name="passc" class="form-control input-sm"
                                           id="passc"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.indent.$touched && editUser.indent.$invalid}">
                                    <label for="indent">Identificación</label>
                                    <input type="text" ng-model="datosEditar.IDENTIFICACION" placeholder="Identificación" id="indent"
                                           class="form-control input-sm" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.perfilEdit.$touched && editUser.perfilEdit.$invalid}">
                                    <label for="perfilEdit">Perfil</label>
                                    <select ng-model="datosEditar.perfil" id="perfilEdit" name="perfilEdit" class="form-control input-sm"
                                            required>
                                        <option ng-repeat="f in perfiles" ng-value="f.ID">
                                            {{f.PERFIL}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group"
                                     ng-class="{ 'has-error' : editUser.loginEdit.$touched && editUser.loginEdit.$invalid}">
                                    <label for="loginEdit">Login</label>
                                    <input type="text" ng-model="datosEditar.LOGIN"
                                           class="form-control input-sm" id="loginEdit" required
                                           autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" ng-click="editUserSave(datosEditar)" ng-disabled="editUser.$invalid">Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<br><br><br>
