<style>
    .font {
        font-size: 14px;
    }

    .capitalize {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: bolder;
    }

    .sinTop {
        vertical-align: center;
    }

    .head {
        background-color: #337ab7;
        color: #f0f0f0;
    }

    .middle {
        vertical-align: middle !important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b><i class="fa fa-bars" aria-hidden="true"></i> Validaciones App</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="page-header">
                            <div class="col-md-12 text-center">
                                <h3>Activa / inactiva validaciones <small>Estas corresponden a las
                                        validaciones de contingencias(cable modem) y soporte gpon de la app
                                        móvil</small></h3>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">

                            <table class="table table table-bordered table-hover">
                                <thead class="table-header">
                                    <tr>
                                        <th>Validación</th>
                                        <th>Sara</th>
                                        <th>Equipos</th>
                                        <th>Infraestructura</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="middle"><span>Contingencias</span> </td>
                                        <td class="middle"><input type="checkbox" class="switch_1"
                                                ng-model="contingenciaSara" ng-checked="contingenciaSara == 'activa'"
                                                ng-click="cambiaEstado('contingenciaSara',contingenciaSara)"></td>
                                        <td class="middle"><input type="checkbox" class="switch_1"
                                                ng-model="contingenciaEquipo"
                                                ng-checked="contingenciaEquipo == 'activa'"
                                                ng-click="cambiaEstado('contingenciaEquipo',contingenciaEquipo)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="middle"><span>Soporte Gpon</span></td>
                                        <td class="middle"></td>
                                        <td class="middle"></td>
                                        <td class="middle"><input type="checkbox" class="switch_1"
                                                ng-model="gponInfraestructura"
                                                ng-checked="gponInfraestructura == 'activa'"
                                                ng-click="cambiaEstado('gponInfraestructura',gponInfraestructura)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <!--<div class="switch_box box_1">
                            <input type="checkbox" class="switch_1">
                        </div>-->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>